.ocean-bg-animated {
  //background-image: linear-gradient(60deg, darken(@primaryColor, 25) 0%, spin(darken(@primaryColor, 15), 5) 30%, spin(darken(@primaryColor, 25), 5) 100%);
  background-repeat: no-repeat;
  background-color: #00172A;
  // animation: ocean-bg 15s ease alternate-reverse infinite;
  background-size: 600% 600%;
}

@keyframes ocean-bg {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes liquid-in-button {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}


@keyframes bg-slideshow {
  0% {
    opacity: 0;
    transform: translate3d(0,0,0) scale(1);
    transform-origin: center;
    filter: blur(5px);
  }

  10% {
    opacity: 1;
    filter: blur(0);
  }

  50% {
    opacity: 1;
    filter: blur(0px);
  }

  60% {
    opacity: 0;
    filter: blur(5px);
  }

  100% {
    opacity: 0;
    transform: translate3d(0,0,0) scale(1.1);
  }
}

//WATER DISTORTION

.distorted-effect-container {
  overflow: hidden;
}

.distorted-effect {
  transform-origin: center center;
  animation: distorted 4s ease-in-out alternate infinite;
}

.delay-2s {
  animation-delay: 2s;
}

@keyframes distorted {
  0%,
  100% {
    transform: translate3d(0,0,0) skew(0deg, 0deg) scale(1.1, 1.1);
    filter: saturate(100%) invert(0%);
  }

  25% {
    filter: saturate(180%) invert(10%);
  }

  50% {
    transform: translate3d(0,0,0)  skew(1.5deg, 1.5deg) scale(1.1, 1.1);
    filter: saturate(100%) invert(0%);
  }

  75% {
    filter: saturate(150%) invert(20%);
  }
}

//**Ponto de mergulho aparecer**//

@keyframes info-fade-up {
  0% {
    transform: translate3d(0,100%,0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}
