figure.fullscreen {
  .is-fullheight();
}

figure.figure-text {
  position: relative;
  padding: 2.0rem 0.5rem;

  img {
    display: block;
    max-width: 100%;
    padding: 0;
    position: relative;
  }

  figcaption {
    display: block;
    .section-text();
    font-size: 0.9rem !important;
    font-family: @secondaryFont;
    margin: .5rem 0 0 0;
    padding-left: 0.3rem;
    max-width: @textMaxWidth;
  }

  figcaption::after {
    content: " ";
    display: block;
    position: relative;
    width: 200px;
    height: 2px;
    background: linear-gradient(to right, @secondaryColor-1, @primaryColor);
    margin-top: 0.3rem;
  }

  .figure-video {
    width: 800px;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
  }
}
