figure.fullsize {
  position: relative;

  img {
    display: block;
    width: 100%;
    padding: 0;
    position: relative;
    text-shadow: 0px 0px 10px @darkGrey;
  }

  figcaption {
    display: block;
    .section-text();
    margin-bottom: 5em;
  }
}
