figure.fullscreen {
  .is-fullheight();
}

figure.figure-text {
  position: relative;

  img {
    display: block;
    width: 100%;
    padding: 0;
    position: relative;
    text-shadow: 0px 0px 10px @darkGrey;
  }

  figcaption {
    display: block;
    .section-text();
    font-family: @secondaryFont;
    margin-bottom: 5em;
  }

  figcaption::after {
    content: " ";
    display: block;
    position: relative;
    width: 64px;
    height: 4px;
    background-color: @secondaryColor-1;
    margin-top: 20px;
  }
}
