.main-header {
  background-color: fade(@darkColor1, 70%);
  display: inline-block;
  width: 100%;
  z-index: 10;
  position: sticky;
  top: 0;

  @media @desktop {
    height: 4.75rem;
  }

  .pure-menu-heading {
    width: 6rem;

    @media @responsiveDevices {
      margin: auto;
      display: block;
    }

    @media @desktop {
      float: left;
    }

    .logo-main {
      background-color: #fff;
      background: url("~assets/images/logos/logo-laje-header.png") no-repeat left center;
      background-size: contain;
      display: block;
      height: 5rem;
      width: 100%;
    }
  }

  .language-select {
    margin-right: 1rem;
  }

  .main-menu {
    .define-layout();
    margin: auto;
    font-size: 0;

    .main-nav {
      @media @responsiveDevices {
        clear: both;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition-property: opacity, max-height;
        transition-duration: 20ms, 25ms;
        transition-timing-function: ease-out;

        .pure-menu-list {
          float: right;
          margin-bottom: 1rem;
        }
      }

      @media @desktop {
        clear: none;
        float: right;
        max-height: none;
      }

      .nav-top {
        float: right;
        font-size: .8rem;
        margin: .5rem 0 .7rem;
      }

      .pure-menu-item {
        float: left;

        @media @responsiveDevices {
          float: right;
          display: block;
          clear: both;
        }
      }

    }

    /**TEMPORARIO ATE MUDAR LANG PICKER **/
    .language-select {
      border: none;
      background: none;
      color: lighten(@secondaryColor-2, 20);
      text-transform: uppercase;
    }

    /** MOBILE MENU **/
    .hamburger {
      float: right;
      cursor: pointer;
      padding: 1rem .5rem;
      position: absolute;
      top: 1.5rem;
      right: .5rem;
      user-select: none;
      background-image: linear-gradient(35deg, @primaryColor, darken(@primaryColor,15));
      border-radius: 4px;

      @media @desktop {
        display: none;
      }

      .burger-bar {
        background: @linkColor;
        display: block;
        height: 2px;
        position: relative;
        .transition(.2s, background, ease-in);
        width: 1.5rem;

        &:before,
        &:after {
          background: @linkColor;
          content: '';
          height: 100%;
          position: absolute;
          .transition(.2s, transform, ease-out);
          width: 100%;
        }

        &:before {
          top: .5rem;
        }

        &:after {
          top: -.5rem;
        }
      }
    }

    .menu-toggle-input {
      display: none;

      &:checked {
        ~.main-nav {
          max-height: 20rem;
          opacity: 1;
        }

        ~.hamburger>.burger-bar {
          background: transparent;

          &:before {
            top: 0;
            .transform(rotate(-45deg));
          }

          &:after {
            top: 0;
            .transform(rotate(45deg));
          }
        }

      }
    }
  }

  /** transparent mode **/
  &.header-overlay {
    position: fixed;
    top: 0;
    right: .5rem;
    padding: 0;

    @media @desktop {
     // background-color: transparent;
    }

    @media @responsiveDevices {
      .main-nav {
        margin-top: 3.5rem;
        background-image: linear-gradient(-35deg, lighten(@primaryColor,45) 0%, fade(lighten(spin(@primaryColor,-10), 50), 90) 60%, fade(lighten(spin(@primaryColor,-10), 50), 80) 100%);
        float: right;
        padding: 1rem;
        border-radius: .5rem;
        box-shadow: 16px 16px 10px fade(darken(@primaryColor, 30), 15);
      }
    }

    width: 100%;

    .main-menu .main-nav .pure-menu-link {
      &:hover {
        font-weight: @bold;
      }
    }

    .language-select {
      color: darken(@primaryColor,10);
    }
  }
}

.corollarium-brand {
  color: lighten(@primaryColor,20);
  text-decoration: none;
  .logo-img {
    background: url("~assets/images/logos/logo-mobi.svg") no-repeat left center;
    display: inline-block;
    background-size: contain;
    margin-right: -5px;
    margin-top: .3rem;
    height: 1.25rem;
    width: 1.25rem;
  }
}
