.logo-main {
  background: url("/images/logo-laje-de-santos.png") no-repeat left center;
  background-size: contain;
  height: 30px;
  width: 110px;
}

.logo-corollarium {
  background: url("/assets/images/logo-mobi.svg") no-repeat left center;
  background-size: contain;
  height: 30px;
  width: 30px;
}

@media screen and (min-width:1024px) {
  header.main-header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: block;
    margin-bottom: 30px;
  }

.navbar {
    background-color: @grayBackground;
  }
}

#main-navigation,
.navbar.navbar-admin {
  .navbar-link,
  a.navbar-item {
    color: #3273dc;
    font-weight: bold;

    &:hover,
    &.is-active,
    &.nuxt-link-exact-active {
      // something?
    }
  }
}

.burger {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}

/** Hamburgers **/
.custom-wrapper {
  display: none;

  .navbar-brand > .navbar-burger > span {
    transition: transform 0.6s;
  }

  &:checked {
    ~ .navbar-menu {
      display: block;
    }

    ~ .navbar-brand > .navbar-burger > span {
      &:nth-child(1) {
        -webkit-transform: translateY(5px) rotate(45deg);
        transform: translateY(5px) rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        -webkit-transform: translateY(-5px) rotate(-45deg);
        transform: translateY(-5px) rotate(-45deg);
      }
    }
  }
}

header.main-header.header-overlay {
  position: absolute;
  background: transparent;
  .navbar {
    background: transparent;
  }
  width: 100%;
}
