.sticky-hero {
  height: 250vh;
  height: ~"calc(var(--vh, 1vh) * 250)"; // 100vh, screen, + 150vh scroll
  position: relative;

  .sticky-hero-content {
    height: 100vh;
    height: ~"calc(var(--vh, 1vh) * 100)";
    position: sticky;
    top: 0px;
    z-index: 2;
  }

  .sticky-hero-attribution {
    display: none;
    margin: 0 auto;
    position: absolute;
    width: auto;
    max-width: 1280px;
  }

  .sticky-back {
    position: absolute;
    min-height: 270vh;
    min-height: ~"calc(var(--vh, 1vh) * 270)";
    bottom: 0;
    width: 100%;

    video {
      width: 100%;
      bottom: 0;
      position: absolute;
    }
  }
}

.ilha-logo {
  position: absolute;
  top: 15%;
  left: 10%;
  width: 15rem;

  @media @mobile {
    width: 8rem;
    top: 2.5rem;
  }
}

//apple-hero - poderá ser usado de fallback
.hero-apple, .hero-about-page {
  background-image: linear-gradient(to bottom, lighten(@secondaryColor-2, 40), lighten(@secondaryColor-2, 30), darken(@secondaryColor-2, 10) 60%);
  height: 96vh;
  overflow: hidden;
  margin-bottom: -3rem;
  position: relative;

  @media @mobile {
    height: 80vh;
    margin-top: -1.5rem;
  }

  .ilha-hero {
    position: absolute;
    width: 90%;
    max-width: 1860px;
    bottom: 32%;
    left: 50%;
    margin-left: -45%;
  }

  .ilha-mar {
    position: absolute;
    height: 35%;
    bottom: 0;
    min-width: 100%;
    max-width: none;
    width: auto;
  }
}

.hero-about-page {
  height: 75vh;
}

.surface-dive {
  position: relative;
  z-index: 1;
  width: 100%;


  &.after-3d {
    z-index: 999; //Solucao que usei e deu certo(shame)
  }

  .surface-espuma,
  .surface-agua {
    position: absolute;
    right: 0;
    top: -50vh; //Para aparecer a espuma da agua sem dar overflow hidden
    padding-top: 50vh;
    margin-top: -1rem;
    left: 0;
    overflow: hidden;
    z-index: 100;
  }

  .surface-espuma img {
    opacity: .75;
    margin-top: -25%;
  }

  .surface-agua img {
    opacity: .95;
  }

  .animals { //HEIGHT REM BASED / top controls rellax
    width: 100%;
    position: absolute;
    height: 40rem;
    top: 2.5rem;
    overflow: hidden;

    @media @responsivePortrait {
      height: 28rem;
      top: 0
    }

    [class*="animal"] {
      position: absolute;
    }

    .animal-turtle {
      max-width: 35rem;
      width: 30vw;
      left: 0;
      top: 10rem;

      @media @responsivePortrait {
        width: 45vw;
        left: -15vw;
        top: -1rem;
      }
    }

    .animal-ray {
      width: 35vw;
      max-width: 40rem;
      left: 50vw;
      margin-left: -17.5vw;
      top: 8rem;

      @media @responsivePortrait {
        width: 50vw;
        left: 45%;
        top: 6rem;
      }
    }

    .animal-dolphin {
      width: 45vw;
      max-width: 50rem;
      right: -5vw;
      top: 6rem;

      @media @responsivePortrait {
        width: 80vw;
        right: -45vw;
        top: 0;
      }
    }
  }
}

.about-section {
  .make-padding();
  padding-top: 35rem !important; //animals spacing
  position: relative;
  background: url("~assets/images/backgrounds/bg-about.jpg") no-repeat center center;
  background-size: cover;
  overflow: hidden;

  @media @responsivePortrait {
    padding-top: 15rem !important; //animals spacing
  }

  .make-space-top {
    .marginTop(6, 4, 3);
  }

  .about-content {
    position: relative;
    overflow: hidden;

    .intro-first-section {
      margin-top: 4rem;
    }
  }

  .icon-about-heading {
    @media @desktop {
      max-width: 15rem;
    }

    @media @responsiveDevices {
      max-width: 10rem;
    }
  }

  .about-profundidade {
    position: relative;
    height: 16rem;
    font-size: 0; //para não criar espaco embaixo da imagem
    @media @desktop {
      margin-top: 4rem;
    }

    figure {
      position: absolute;
      left: 0;
      bottom: 0;
    }

    @media @responsiveDevices {
      height: 15rem;
    }
  }

}

.about-description {
  font-size: 1.2em;
  line-height: 1.5em;

  @media @desktop {
    max-width: 35rem;
  }
}

.boxed-description {
  .about-description();
  padding: 1rem;
  background-color: fade(@primaryColor, 30);
  text-align: center;
  border-radius: .5rem;

  @media @responsiveDevices {
    max-width: 35rem;
    display: block;
    margin: auto;
  }
}

.section-with-slideshow {
  position: relative;
  .make-padding();
  overflow: hidden;

  @media @desktop {
    min-height: 80vh;
  }
}

@slideTime: 5s;

.background-slideshow {
  position: absolute;
  top: 0;
  bottom: 0;
  max-width: 100%;

  &.two-slides {
    .slide-1 {
      animation: bg-slideshow @slideTime*2 infinite;
    }

    .slide-2 {
      animation: bg-slideshow @slideTime*2 infinite;
      animation-delay: @slideTime;
    }
  }

  figure {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    img {
      object-fit: cover;
      max-width: none;
      min-height: 100%;
    }
  }

  video {
    min-width: 100vw;
    max-width: none;
    min-height: 100%;
  }

}

.over-image-box (@paddingD: 5, @paddingM: 2) {
  position: relative;
  background-color: darken(fade(@primaryColor, 80), 15);
  border-radius: .5rem;

  @media @desktop {
    .add-padding(@paddingD, @paddingD);
  }

  @media @responsiveDevices {
    .add-padding(@paddingM, @paddingM);

  }
}

.section-div-intro {
  .over-image-box();
}

.section-dive-images {
  max-width: 56rem;
  margin: auto;

  .image-circle-border {
    text-align: center;
    margin: 0 auto;

    &.side-image {
      margin-top: -4rem;
      max-width: 90%;

      @media @mobile {
        margin-top: 0;
      }
    }

    &.center-image {
      transform: translate3d(0,0,0) scale(1.1);
      @media @mobile {
        transform: translate3d(0,0,0) scale(1.25);
      }
    }

    img {
      display: block;
      margin: -1rem auto;
      overflow: hidden;
      border-radius: 50%;
      border: .25rem solid fade(darken(@primaryColor, 10), 20);
      box-shadow: 0px 8px 32px fade(lighten(@primaryColor, 20), 30);

      @media @mobile {
        margin: 0;
      }
    }

    .caption {
      .over-image-box(2, 1);

      @media @mobile {
        display: none;
      }
    }
  }
}

.estrela-do-mar {
  max-width: 400px;
  width: 40%;
  position: absolute;
  margin-top: -10rem;
  left: -6rem;

  @media @tablet {
    left: -4rem;
    margin-top: -6rem;
  }

  @media @mobile {
    left: -3rem;
    margin-top: -5rem;
  }
}

/**SECAO VIDA **/
@vida-altura-imagem: 32rem;

.vida-btn {
  display: block;
  margin: 1rem auto 0;
}

.image-fish {
  width: 100%;
  overflow: hidden;
  position: relative;
  box-shadow: 0 16px 32px fade(darken(@primaryColor, 35), 50);

  @media @desktop {
    height: @vida-altura-imagem;
  }

  @media @tablet {
    height: @vida-altura-imagem*0.6;
  }

  @media @mobile {
    height: @vida-altura-imagem*0.4;
  }

  @media @mobileSmall {
    height: @vida-altura-imagem*0.2;
  }

  img {
    position: absolute;
    transform: translate3d(-50%,0,0);
    margin-left: 50%;
    height: 100%;
    max-width: none;
  }

  &.vida-top {
    transform: translate3d(0, 10%, 0) scale(.9);

    @media @mobile {
      transform: translate3d(0, 0, 0) scale(1);
    }
  }

  &.vida-bottom {
    transform: translate3d(0, -10%, 0) scale(.9);

    @media @mobile {
      transform: translate3d(0, 0, 0) scale(1);
    }
  }

  &.vida-center {
    @media @mobile {
      transform: scale(1.1);
    }
  }
}

.visit-text {
  .about-description();
  padding: 1rem;
}

.visit-image img {
  padding: 1rem;

  @media @mobile {
    width: 20rem;
    margin: auto;
    padding: 1rem 0;
    display: block;
  }

  @media @desktop {
    margin-left: 2rem;
  }
}

.mantinha {
  position: relative;
  background-image: linear-gradient(45deg, darken(@primaryColor, 10) 108%, @primaryColor 59%, lighten(@primaryColor, 30) 32%);

  .model-container {
    min-height: 70vh;

    @media @mobile {
      min-height: 0;

      canvas {
        height: 50vh !important;
      }
    }
  }

  .description {
    text-align: center;
    max-width: 32rem;
    display: block;
    margin: auto;
    .over-image-box(2, 1);
    .font-responsive (20, 18, 16);

    @media @mobile {
      margin: 2rem auto;
    }
  }
}
