@scroll-ocean-vue: 1750px;

.sticky-hero {
  height: 320vh;
  height: calc(100vh + @scroll-ocean-vue); // 1 screeen + scroll height in ocean.vue
  position: relative;

  .sticky-hero-content {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    position: sticky;
    top: 0px;
    z-index: 2;
  }

  .sticky-hero-attribution {
    display: none;
    margin: 0 auto;
    position: absolute;
    width: auto;
    max-width: 1280px;
  }

  .sticky-back {
    position: absolute;
    min-height: 270vh;
    min-height: calc(var(--vh, 1vh) * 270);
    bottom: 0;
    width: 100%;

    video {
      width: 100%;
      bottom: 0;
      position: absolute;
    }
  }
}

.hero-image {
  position: absolute;
  width: 10rem;
  top: 6rem;
  left: 2rem;

  @media @mobile {
    left: 50%;
    margin-left: -5rem;
  }
}

.surface-dive {
  position: relative;
  min-height: 600px;

  .surface-espuma, .surface-agua {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    > img {
      width: 100vw;
      height: auto;
    }
  }

  .surface-espuma > img {
      margin-top: -28%;
  }

  .surface-agua > img {
    margin-top: -3.5%;
  }

  [class*="animal"] {
    position: absolute;
  }

  .animal-turtle {
    max-width: 35rem;
    width: 30vw;
    top: 50%;
    left: 5%;
  }

  .animal-ray {
    width: 35vw;
    top: 10%;
    max-width: 50rem;
    left: 50%;
    margin-left: -17.5vw;
  }

  .animal-dolphin {
    width: 45vw;
    max-width: 60rem;
    right: -5vw;
    top: 25%;
    transform: rotate(-5deg);
    @media screen and (min-width: 1600px) {
      right: 0;
    }
  }
}

.fade-effect (@bg-color: darken(@primaryColor,25)) {
  &:after, &:before {
    content:" ";
    height: 25%;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
  }

  &:before {
    top:0;
    background-image: linear-gradient(to bottom,  @bg-color 0%, fade(@bg-color, 40) 60%,  fade(@bg-color, 0) 100%);
  }

  &:after{
    bottom:0;
    background-image: linear-gradient(to top,  @bg-color 0%, fade(@bg-color, 40) 60%,  fade(@bg-color, 0) 100%);
  }
}

.about-section {
  position: relative;
  .icon-about-heading {
    @media @desktop {
      max-width: 15rem;
    }

    @media @responsiveDevices {
      max-width: 10rem;
    }
  }

  .
}

.about-description {
  font-size: 1.2em;
  line-height: 1.5em;

  @media @desktop {
    max-width: 35rem;
  }
}

.boxed-description {
  .about-description();
  padding: 1rem;
  background-color: fade(@primaryColor, 30);
  text-align: center;
  border-radius: .5rem;

  @media @responsiveDevices {
    max-width: 35rem;
    display: block;
    margin: auto;
  }
}

.section-with-slideshow {
  position: relative;
  .make-padding();
  overflow: hidden;

  @media @desktop {
    min-height: 80vh;
  }
}

.background-slideshow {
  position: absolute;
  top: 0;
  bottom: 0;
  max-width: 100%;

  &.two-slides {
    .slide-1 {
      animation: bg-slideshow 8s infinite;
    }

    .slide-2 {
      animation: bg-slideshow 8s infinite;
      animation-delay: 4s;
    }
  }

  figure {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    img {
      object-fit: cover;
      max-width: none;
      min-height: 100%;
    }
  }

  video {
    min-width: 100vw;
  }

}

.over-image-box (@paddingD: 5, @paddingM: 2) {
  position: relative;
  background-color: darken(fade(@primaryColor, 80), 15);
  border-radius: .5rem;

  @media @desktop {
    .add-padding(@paddingD, @paddingD);
  }

  @media @responsiveDevices {
    .add-padding(@paddingM, @paddingM);

  }
}

.section-div-intro {
  .over-image-box();
}

.section-dive-images {
  max-width: 56rem;
  margin: auto;

  .image-circle-border {
    text-align: center;
    margin: 0 auto;

    &.side-image {
      margin-top: -4rem;

      @media @mobile {
        margin-top: -2rem;
      }
    }

    img {
      display: block;
      margin: -1rem auto;
      overflow: hidden;
      border-radius: 50%;
      border: .25rem solid fade(darken(@primaryColor, 10), 20);
      box-shadow: 0px 8px 32px fade(lighten(@primaryColor, 20), 30);

      @media @mobile {
        margin: 0;
      }
    }

    .caption {
      .over-image-box(2, 1);

      @media @mobile {
        display: none;
      }
    }
  }
}

.estrela-do-mar {
  max-width: 400px;
  width: 40%;
  position: absolute;
  margin-top: -10rem;
  left: -6rem;

  @media @tablet {
    left: -4rem;
    margin-top: -6rem;
  }

  @media @mobile {
    left: -3rem;
    margin-top: -5rem;
  }
}

/**SECAO VIDA **/
.image-fish {
  overflow: hidden;

  img {
    min-width: 100%;
    min-height: 100%;
    max-width: none;
  }
}

.mantinha {
  background-image: linear-gradient(45deg, darken(@primaryColor, 10) 108%, @primaryColor 59%, lighten(@primaryColor, 30) 32%);

  .model-container {
    min-height: 70vh;

    @media @mobile {
      min-height: 0;

      canvas {
        height: 50vh !important;
      }
    }
  }

  .description {
    text-align: center;
    max-width: 32rem;
    display: block;
    margin: auto;
    .over-image-box(2, 1);
    .font-responsive (20, 18, 16);

    @media @mobile {
      margin: 2rem auto;
    }
  }
}
