.hero-image {
  position: absolute;
  width: 10rem;
  top: 6rem;
  left: 2rem;

  @media @mobile {
    left: 50%;
    margin-left: -5rem;
  }
}

.icon-about-heading {
  @media @desktop {
    max-width: 15rem;
  }

  @media @responsiveDevices {
    max-width: 10rem;
  }
}

.about-description {
  font-size: 1.2em;
  line-height: 1.5em;

  @media @desktop {
    max-width: 35rem;
  }
}

.boxed-description {
  .about-description();
  padding: 1rem;
  background-color: fade(@primaryColor, 30);
  text-align: center;
  border-radius: .5rem;

  @media @responsiveDevices {
    max-width: 35rem;
    display: block;
    margin: auto;
  }
}

.section-with-slideshow {
  position: relative;
  min-height: 90vh;
  overflow: hidden;
  margin-bottom: 0 !important;
}

.background-slideshow {
  position: absolute;
  top: 0;

  figure {
    object-fit: cover;
  }

}

.over-image-box {
  position: relative;
  background-color: darken(fade(@primaryColor, 80), 15);
  border-radius: .5rem;

  @media @desktop {
    .add-padding(5, 5);
  }

  @media @responsiveDevices {
    .add-padding(2, 2);

  }
}

.image-circle-border {
  position: relative;
  margin-top: 1.5rem;

  &.side-circle {
    transform: translate3d(0,-4rem,0);
  }

  figure {
    overflow: hidden;
    width: 16rem;
    height: 16rem;
  }

  img {
    object-fit: cover;
    height: 100%;
    border: solid 1rem fade(darken(@primaryColor, 20), 60);
    border-radius: 50%;
  }

  .modal-button {
    display: block;
    margin: 0 auto;
    width: 3rem;
    height: 3rem;
    text-align: center;
    border: 1px solid darken(@primaryColor, 20);
    border-radius: 50%;
    background-color: darken(@primaryColor, 30);
    padding: .5rem;
    font-size: 1.5rem;
    transform: translate3d(0,-2rem,0) scale(1);
    transition: transform .15s ease-out;

    &:hover {
      transform: translate3d(0,-2rem,0) scale(1.1);
    }
  }
}
