/** MODAL **/
.modal-window {
  position: fixed;
  background-image: linear-gradient(to bottom, fade(@primaryColor, 95), 30%, fade(darken(@primaryColor, 20), 95) 60%);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  transition: all 0.3s;

  >.modal-inner {
    width: 95%;
    height: auto;
    position: absolute;
    max-width: 100vh;
    max-height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    background: @darkColor2;
    box-shadow: 0 10px 32px rgba(0, 0, 0, .3);

    @media @responsiveDevices {
      padding: .5rem;
    }

    figure {
      overflow: hidden;
    }
  }

  .modal-close {
    color: #aaa;
    line-height: 32px;
    font-weight: @bold;
    position: absolute;
    right: -8px;
    text-align: center;
    top: -8px;
    width: 70px;
    text-decoration: none;
    cursor: pointer;
    z-index: 999999;
    background: #fff;
    width: 32px;
    height: 32px;
    border-radius: 50%;

    &:hover {
      color: black;
    }
  }

  .modal-enter {
    opacity: 0;
  }

  .modal-leave-active {
    opacity: 0;
  }

  .modal-enter .modal-container,
  .modal-leave-active .modal-container {
    transform: scale(1.1);
  }
}

.modal-inner>.card {
  margin: 0;
  padding: 0;

  .gallery-creator,
  .gallery-description,
  .gallery-name {
    display: none;
    padding: 0;
  }
}
