//** PAGINA PONTOS DE MERGULHO **//
#scene-explorer-host,
#inspector-host {
  z-index: 20;
}

.dive-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  height: ~'calc(100vh - 6rem)'; //header

  @media @mobile {
    flex-direction: column-reverse;
    height: auto;
  }

  .dive-swipe-show {
    width: 30%;
    margin: 0 auto;
    display: none;
    cursor: pointer;

    @media @mobile {
      display: block;
    }
  }

  .dive-aside-showBottomSheet {
    margin-top: -60vh; // TODO: ajustar altura
    min-height: 120vh; // TODO: ajustar altura
  }

  .dive-aside {
    flex-basis: 20%;
    overflow-y: auto;
    z-index: 10;
    background-color: @darkBlue;

    @media @mobile {
      flex-basis: auto;
    }
    @media @biggerThanMobile {
      min-width: 500px;
      max-height: 100%;
    }
  }

  .dive-point-info {
    .make-padding(2, 2, 1, 1);
    max-width: 90%;
    margin: auto;

    .fade-up {
      animation: info-fade-up .2s ease-out; //TODO Disparar animation cada vez que mudar e fazer o reverso quando sair de cena
    }
  }

  .dive-point-title {
    .font-responsive(24, 20, 16);
    .text-margin(3, 2, 1);
  }

  .dive-3d {
    position: relative;
    flex-grow: 1;
    height: 100%;
    display: flex;
    width: 100%;

    @media @mobile {
      height: 70vh; // TODO: ajustar altura
    }

    .dive-point-selector {
      position: absolute;
      top: 1rem;
      left: 1rem;
    }
  }
}
