//** PAGINA MERGULHO **//
#scene-explorer-host, #inspector-host {
  z-index: 20;
}

.dive-aside {
  overflow: hidden;
  .dive-point-info{
    .make-padding(4,4,3,2);
    max-width: 90%;
    margin: auto;

    >div {
      animation: info-fade-up .2s ease-out; //TODO Disparar animation cada vez que mudar e fazer o reverso quando sair de cena
    }
  }
}
