//** PAGINA MERGULHO **//
#scene-explorer-host, #inspector-host {
  z-index: 20;
}

.dive-aside {
  overflow: hidden;
  .dive-point-info{
    .make-padding(4,4,3,2);
    max-width: 90%;
    margin: auto;

    >div {
      animation: info-fade-up .2s ease-out; //TODO Disparar animation cada vez que mudar e fazer o reverso quando sair de cena
    }
  }
}

/** PAGINA VIDA **/
.menu-with-icons {
  .menu-icon {
    height: .9rem;
    width: auto;
  }
}
.hero-vida {
  height: calc(100vh - 8rem); //calc menos os menus

  figure {
    max-height: calc(100% + 6rem);
    .fade-bottom();

    img {
      max-width: none;
      min-height: 100%;
    }
  }
}
