// font
@mainFont: "Montserrat", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
@secondaryFont: "Raleway", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;


*, body, html {
  font-size: 16px;
  font-family: @mainFont;
}

.font-select (@weight: 500, @font-color: @secondaryColor-1, @font-family: @mainFont) {
  color: @font-color;
  font-family: @font-family;
  font-weight: @weight;
}

// usage, x is the pixel size needed: .font-size(x);
.font-size(@sizeValue: 16) {
  @remValue: @sizeValue / 16;
  @pxValue: (@sizeValue);
  font-size:~"@{pxValue}px";
  font-size:~"@{remValue}rem";
}

.font-responsive (@fontdesk: 16, @fonttablet: 15, @fontmobile: 14, @marginG: 4, @marginM: 3, @marginP: 2) {
  .font-size(@fontdesk);
  line-height: 1.2em;
  .marginBottom(@marginG);

  @media screen and (min-width: @tabletSize) and (max-width: (@desktopSize - 1)) {
    .font-size(@fonttablet);
    line-height: 1em;
    .marginBottom(@marginM);
  }

  @media screen and (max-width: (@tabletSize - 1)) {
    .font-size(@fontmobile);
    line-height: 1em;
    .marginBottom(@marginP);
  }
}

//headings

h1 {
  .font-responsive(56, 40, 32);
  .font-select(400);
}

h2 {
  .font-responsive(48, 32, 24);
  .font-select(300);
}

h3 {
  .font-responsive(32, 24, 16);
  .font-select(400);
}

h4 {
  .font-responsive(24, 20, 15);
  .font-select(400);
}

p {
  .font-responsive(16, 15, 14);
  .font-select(400, #ffffff);
}
