// font
@mainFont: "Montserrat", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
@secondaryFont: "Raleway", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

// color
@primaryColor: #005fa8;
@secondaryColor-1: hsl(188, 100%, 45%);
@secondaryColor-2: hsl(199, 100%, 42%);

@linkColor: lighten(@secondaryColor-1, 15);
@linkColorHover: lighten(@secondaryColor-1, 30);

//grayscale

@darkColor1: hsl(206, 20%, 10%);
@darkColor2: hsl(206, 20%, 20%);
@darkColor3: hsl(206, 20%, 30%);


@grayBackground: #303030;
@darkGrey: rgb(63, 59, 59);
@darkBlue: #2A3A60;

@background-image: linear-gradient(19deg, #0061a9 108%, #0094d7 59%, #00c5e3 32%);

@textMaxWidth: 50em;

/** https://blueprintcss.dev/docs/grid BASED **/
@mobileSize: 480px; //sm 568px
@tabletSize: 720px; //md 768px
@desktopSize: 960px; //lg 1024px
@desktopBigSize:1440px; //xl 1280px

@mobileSmall: ~"only screen and (max-width: @{mobileSize})";
@mobileLandscape: ~"only screen and (min-width: @{mobileSize}) and (max-width:" @tabletSize - 1 ~")";
@mobile: ~"only screen and (max-width: "@tabletSize - 1 ~")";
@tablet: ~"only screen and (min-width: @{tabletSize}) and (max-width:" @desktopSize - 1 ~")";
@responsiveDevices: ~"only screen and (max-width: "@desktopSize - 1 ~")";
@responsiveLandscape: ~"only screen and (orientation: landscape) and (max-width: "@desktopSize - 1 ~")";
@responsivePortrait:  ~"only screen and (orientation: portrait) and (max-width: "@desktopSize - 1 ~")";
@desktop: ~"only screen and (min-width: @{desktopSize})";
@desktopSmall: ~"only screen and (min-width: @{desktopSize}) and (max-width:" @desktopBigSize - 1 ~")";
@desktopBig: ~"only screen and (min-width: @{desktopBigSize})";


.mobile-hidden {
  @media @mobile {
    display: none;
  }
}
