// Note: Change ../bulma.scss to alter the bulma customization

// color
@primaryColor: hsl(206, 100%, 33%);
@secondaryColor-1: hsl(188, 100%, 45%);
@secondaryColor-2: hsl(199, 100%, 42%);

//grayscale

@darkColor1: hsl(206, 20%, 10%);
@darkColor2: hsl(206, 20%, 20%);
@darkColor3: hsl(206, 20%, 30%);


@grayBackground: #303030;
@darkGrey: rgb(63, 59, 59);
@darkBlue: #2A3A60;

@background-image: linear-gradient(19deg, #0061a9 108%, #0094d7 59%, #00c5e3 32%);

//layout
@spacing: 8; //value in PX
@gridWidth: 1280px; //same as bulma (to review)

.marginBottom (@value: 1;) {
  @sizeResult: @spacing * @value;
  @remValue: @sizeResult / 16;
  margin-bottom: ~"@{remValue}rem";
}

@mobileSize: 576px;
@tabletSize: 768px;
@desktopSize: 992px;
@desktopBigSize: 1200px;

@mobileSmall: ~"only screen and (max-width: @{mobileSize})";
@mobileLandscape: ~"only screen and (min-width: @{mobileSize}) and (max-width:" @tabletSize - 1 ~")";
@mobile: ~"only screen and (max-width: (@{tabletSize} - 1))";
@tablet: ~"only screen and (min-width: @tabletSize) and (max-width:" @desktopSize - 1 ~")";
@desktop: ~"only screen and (min-width: @{desktopSize})";
@desktopSmall: ~"only screen and (min-width: @{desktopSize}) and (max-width:" @desktopBigSize - 1 ~")";
@desktopBig: ~"only screen and (@{desktopBigSize})";
