/* Import Bulma Utilities */
@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

/* Variable changes go here */
$title-family: "Montserrat", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-secondary: "Montserrat", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$body-family: "Montserrat", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

/* Import the rest of Bulma */
@import '~bulma';
